Clase17XSD+/restricciones/ejercicio1.1_restricciones.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="fichas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ficha" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name ="nombre" type="xs:string"/>
                            <xs:element name ="edad" type="edadPersona"/>
                        </xs:sequence>
                        <xs:attribute name ="ficha" type ="xs:int" use ="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name ="edadPersona">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="101"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>