Clase16XSD/ejemplo2/marcadores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="marcadores">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pagina" maxOccurs="unbounded"> <!--maxOccurs indica el máximo de repeticiones-->
                    <xs:complexType>
                        <xs:sequence> <!--si no importa el orden xs:all-->
                            <xs:element name="nombre" type="xs:string"/> 
                            <xs:element name="descripcion" type="xs:string"/>
                            <xs:choice>
                                <xs:element name="link" type="xs:string"/>
                                <xs:element name="url" type="xs:string"/>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>